.title {
	margin: 1em 0;
	line-height: 1.15;
	font-size: 3rem;
	text-align: center;
}

.code {
	border-radius: 4px;
	padding: 0.75em;
	font-size: 1em;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
	border: 1px solid #00000033;
	width: 800px;
	max-width: 90vw;
	outline: none;
}

.paste {
	border-radius: 4px;
	width: 800px;
	max-width: 90vw;
	font-size: 1em;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
	border: 1px solid #00000033;
}

.lines {
	margin: 0;
}

.line {
	border-left: 1px solid #00000033;
	padding-left: 1em;
	font-size: 12px;
	line-height: 24px;
	white-space: pre-wrap;
}

.line::marker {
	color: #00000055;
}

.line:hover {
	background-color: #00000011;
}

.toolbar {
	width: 100%;
	height: 2em;
	border-bottom: 1px solid #00000033;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.5em;
}

.toolbar span:last-of-type {
	display: flex;
	align-items: center;
}

.toolbarButton {
	margin-left: 0.5em;
	padding: 0.3rem 0.5rem;
	background-color: #3498db22;
	border: 1px solid #3498db88;
	border-radius: 5px;
	font-size: 12px;
}

.toolbarButton:hover {
	cursor: pointer;
}

.new {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin: 2em 0;
}

.new a:hover {
	text-decoration: underline;
}

.button {
	margin: 2rem;
	padding: 1rem;
	background: white;
	box-shadow: 0 0 15px #00000022;
	border: none;
	border-radius: 10px;
	font-size: 1.5rem;
	transition: 0.1s all ease;
	outline: none;
}

.button:hover {
	cursor: pointer;
	box-shadow: 0 2px 15px #00000033;
}

.button:active {
	cursor: pointer;
	box-shadow: 0 0 5px #00000077;
}

.dotflashing {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #282c34;
	color: #282c34;
	animation: dotFlashing 1s infinite linear alternate;
	animation-delay: 0.5s;
}

.dotflashing::before,
.dotflashing::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}

.dotflashing::before {
	left: -15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #282c34;
	color: #282c34;
	animation: dotFlashing 1s infinite alternate;
	animation-delay: 0s;
}

.dotflashing::after {
	left: 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #282c34;
	color: #282c34;
	animation: dotFlashing 1s infinite alternate;
	animation-delay: 1s;
}

@media only screen and (max-width: 800px) {
	.title {
		font-size: 2rem;
		margin: 1.25em 0;
	}
	.code {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 500px) {
	.title {
		font-size: 1rem;
		margin: 1.5em 0;
	}
	.code {
		font-size: 0.7rem;
	}
}

@keyframes dotFlashing {
	0% {
		background-color: #282c34;
	}
	50%,
	100% {
		background-color: #e0e0e0;
	}
}
